@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body{
    font-family:'Montserrat',sans-serif;
    margin: 0px
}

:root{
    --primary-color:#3b82f6;
    --secondory-color:#6b7280;
    --offwhite:#f3f4f6;

}

/** container **/

.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

/** container fluid **/
.container-center{
    max-width:600px;
    margin:auto;
}

/** link **/

.link{
    text-decoration:none;
    padding:0.5rem 1rem;
    box-sizing: border-box;
}

.primary-link{
    background-color:var(--primary-color);
    border-radius:0.5rem;
    color:white;
    
}

.secondory-link{
    border-radius: 0.5rem;
    color:var(--primary-color);
    border: 1px solid var(--primary-color);
}

.hr{
    margin:2rem 0rem;
}

/** lists**/

.list-non-bullet{
    list-style:none;
}

.list-item-inline{
    display: inline;
    padding: 8px;
}

/** Navigation **/
.navigation{
    background-color:var(--primary-color);
   border-bottom-left-radius: 0.5rem;
    text-align: center;
    padding: 1rem;
}

.navigation-brand{
    font-style: montserrat;
    font-size:30px;
    color: white;
    text-align:left;
    

}

.navigation .link{
    color:white;
}

.navigation .link-active{
    font-size: 20px;
    font-weight: bold;
}

/** header */

.hero{
    padding: 2rem;
}

.hero  .hero-img{
    display:block;
    max-width:350px;
    margin:auto;

}

.hero .hero-heading{
    text-align:center;
    color: var(--secondory-color);
    padding-top: 1rem;

}

.hero .heading-role{
    color:var(--primary-color);
}

/** section **/

.section{
    padding: 2rem;
}
.section h3{
    text-align: center;
    
}
.ow{
    background-color: var(--offwhite);
}

/** footer **/
footer{
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    border-top-right-radius: 1rem;
}

.social-links .link{
    color: white;
}
.footer-brand{
    color:white;
    font-size: large;
    font-weight: bold;
    
    
}
